<div th:fragment="headerFrag" >
	<div class="btn-group">
			
		<a href="showRecipe" type="submit" class="btn btn-primary btn-lg">Show Recipes</a>
				
		<a href="addRecipe" type="submit" class="btn btn-primary btn-lg">Add Recipe</a>
				
		<a href="searchRecipe" type="submit" class="btn btn-primary btn-lg">Search</a>
				
		<a href="login" type="submit" class="btn btn-primary btn-lg">Login/Register</a>
	
		<form th:action="@{/logout}" method="post">
			<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
				<!-- <a th:href="@{/logout}" class="btn btn-danger">Sign Out<a /> -->
				<input class="btn btn-primary btn-lg" type="submit" value="Logout" style="float:right;" />
		</form>
				
	</div>
</div>
<br>
