
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:security="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<div th:replace="~{includes/bootstrapMeta :: bootstrapMeta}" />
<title>RezeptBox</title>
<div th:replace="~{includes/bootstrapCSS :: bootstrapCSS}" />
</head>
<body>


	<div class="container" role="main">

		<div th:replace="~{includes/header :: headerFrag}"></div>
		
<div class="container" role="main">
	<div class="row">
		<div class="form-group col-md-10 col-md-offset-1">

			<h3>Special Search</h3>
			<form class="form-horizontal" method="post" action="find">
				<input type="hidden" th:name="${_csrf.parameterName}"
					th:value="${_csrf.token}" />
				<div class="form-group">
					<label class="control-label col-md-2" for="searchType">Search:</label>
					<div class="col-md-5">
						<select name="searchType" class="form-control">
							<option value="query1" selected="selected">Show all
								HardDrives</option>
							<option value="query2">Filter by Category</option>
							<option value="query3">Filter by Cook</option>
							<option value="query4">Filter by Ingredient</option>

						</select>
					</div>
				</div>

				<div class="form-group">
					<label class="control-label col-md-2" for="searchString">SearchString:</label>
					<div class="col-md-5">
						<input type="text" name="searchString" class="form-control">
					</div>
				</div>

				<div class="form-group">
					<div class="col-md-2"></div>
					<div class="col-md-5">
						<input class="btn btn-default" type="submit" value="Search">
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
		<div th:if="${#authorization.expression('hasAnyRole(''ROLE_ADMIN'', ''ROLE_USER'')')}" class="row">
			<div class="form-group col-md-10 col-md-offset-1">
				<p>
					<a href="addRecipe">
						<button type="button" class="btn btn-success">
							<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
							Add Recipes
						</button>
					</a>
				</p>
			</div>
		</div>

		<div class="row">
			<div class="col-md-10 col-md-offset-1">
				<table data-toggle="table" class="table table-striped">
					<thead>
						<tr>
							<th data-sortable="true">ID</th>
							<th data-sortable="true">Recipe</th>
							<th data-sortable="true">Cook</th>
							<th data-sortable="true">Category</th>

							<th>Action</th>
						</tr>
					</thead>
					<tbody>
						<!--  list all items ----------------------------------------------------------- -->
						<tr th:each="recipeModel : ${#request.getAttribute('recipeModels')}">
							<td th:text="${recipeModel.idRecipe}"></td>
							<td th:text="${recipeModel.nameRecipe}"></td>
							<td th:text="${recipeModel.userModel.username}"></td>
							<td th:text="${recipeModel.recipeCategoryModel.name}"></td>

							<td>
							<!--	<div
									th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}"></div>-->
									<a  th:if="${#authorization.expression('hasAnyRole(''ROLE_ADMIN'')')}" th:href="@{/deleteRecipe(id=${recipeModel.idRecipe})}">
										<button type="button" class="btn btn-xs btn-danger">
											<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
											Delete
										</button>
									</a> 
									<a  th:if="${#authorization.expression('hasAnyRole(''ROLE_ADMIN'')')}" th:href="@{/editRecipe(id=${recipeModel.idRecipe})}">
										<button type="button" class="btn btn-xs btn-success">
											<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
											Edit
										</button>
									</a>
								 <a th:href="@{/showRecipe(id=${recipeModel.idRecipe})}">
									<button type="button" class="btn btn-xs btn-success">
										<span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
										Show Recipe
									</button>
							</a>

							</td>
						</tr>
						<!--  list all items ----------------------------------------------------------- -->
					</tbody>
				</table>

			</div>
		</div>



		<div th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}">
			This will only be displayed if authenticated user has role
			ROLE_ADMIN.</div>

		

	</div>
	<!--  End of container -->
	<div th:replace="~{includes/bootstrapJS :: bootstrapJS}" />


</body>
</html>
