<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<div th:replace="~{includes/bootstrapMeta :: bootstrapMeta}" />
<title>Recept Manager</title>
<div th:replace="~{includes/bootstrapCSS :: bootstrapCSS}" />
</head>
<body>
	<div class="container" role="main">

		<!--  1 simple button ----------------------------------------------------------- -->
		<div class="row">
			<div class="col-md-10">
				<h1>Spring Data JPA</h1>
			</div>

			<div class="col-md-2">
				<a href="fillReceptList">
					<button type="button" class="btn btn-success">Fill List</button>
				</a>
			</div>
		</div>
		<hr>

		<div class="row">
			<div class="col-md-10 col-md-offset-1">
				<table data-toggle="table" class="table table-striped">
					<thead>
						<tr>
							<th>ID</th>
							<th>Name</th>
							<th>Beschreibung</th>
							<th>Zubereitung</th>
							<th>User</th>
							<th>Action</th>
						</tr>
					</thead>
					<tbody>
						<!--  list all items ----------------------------------------------------------- -->
						<tr th:each="Recept : ${Recepts}">
							<td th:text="${Recept.id}"></td>
							<td th:text="${Recept.name}"></td>
							<td th:text="${Recept.beschreibung}"></td>
							<td th:text="${Recept.zubereitung}"></td>
							<td th:text="${Recept.usermodel.name}"></td>							
							<td><a th:href="@{/delete(id=${Recept.id})}">Delete</a></td>						
						</tr>
						<!--  list all items ----------------------------------------------------------- -->
					</tbody>
				</table>
								
			</div>
		</div>
	</div>
	<!--  End of container -->
	<div th:replace="~{includes/bootstrapJS :: bootstrapJS}" />
</body>
</html>
