<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<div th:replace="~{includes/bootstrapMeta :: bootstrapMeta}" />
<title>RezeptBox</title>
<div th:replace="~{includes/bootstrapCSS :: bootstrapCSS}" />
</head>
<body>
	<div class="container" role="main">
<div class="page-header">
			<h1>RezeptBox</h1>
		</div>
		<!--  Error message ----------------------------------------------------------- -->
		<div th:unless="${errorMessage} == null" th:utext="${errorMessage}"
			class="alert alert-danger" role="alert"></div>
		<!--  Error message ----------------------------------------------------------- -->

		<!--  Warning message ----------------------------------------------------------- -->
		<div th:unless="${warningMessage} == null" th:utext="${warningMessage}"
			class="alert alert-warning" role="warning"></div>
		<!--  Warning message ----------------------------------------------------------- -->

		<!--   message ----------------------------------------------------------- -->
		<div th:unless="${message} == null" th:utext="${message}"
			class="alert alert-success" role="warning"></div>
		<!--   message ----------------------------------------------------------- -->

		<nav th:replace="~{includes/searchNav :: search}"></nav>

		<!--  2 simple buttons ----------------------------------------------------------- -->
		<div class="row">
			<div class="col-md-4 col-md-offset-4">
				<p>
					<a href="addRecept">
						<button type="button" class="btn btn-success">Add new
							Recept</button>
					</a> <a href="fillReceptList">
						<button type="button" class="btn btn-success">Fill List</button>
					</a>
				</p>
			</div>
		</div>

		<div class="row">
			<div class="col-md-10 col-md-offset-1">
				<table data-toggle="table" class="table table-striped">
					<thead>
						<tr>
							<th data-sortable="true">ID</th>
							<th data-sortable="true">Name</th>
							<th data-sortable="true">Beschreibung</th>
							<th data-sortable="true">Zubereitung</th>
							<th data-sortable="true">User</th>
							<th>Action</th>
						</tr>
					</thead>
					<tbody>
						<!--  list all items ----------------------------------------------------------- -->
						<tr th:each="Recept : ${Recepts}">
							<td th:text="${Recept.id}"></td>
							<td th:text="${Recept.name}"></td>
							<td th:text="${Recept.beschreibung}"></td>
							<td th:text="${Recept.zubereitung}"></td>
							<td th:text="${Recept.usermodel.name}"></td>
							<td><a th:href="@{/deleteRecept(id=${Recept.id})}">
									<button type="button" class="btn btn-xs btn-danger">
										<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
										Delete
									</button>
							</a><a
								th:href="@{/editRecept(id=${Recept.id})}">
									<button type="button" class="btn btn-xs btn-success">
										<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
										Edit
									</button>
							</a></td>
						</tr>
						<!--  list all items ----------------------------------------------------------- -->
					</tbody>
				</table>

			</div>
		</div>
	</div>
	<!--  End of container -->
	<div th:replace="~{includes/bootstrapJS :: bootstrapJS}" />
</body>
</html>
