<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:security="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<div th:replace="~{includes/bootstrapMeta :: bootstrapMeta}" />
<title>RezeptBox</title>
<div th:replace="~{includes/bootstrapCSS :: bootstrapCSS}" />
</head>
<body>



	<div class="container" role="main">
		<div th:replace="~{includes/header :: headerFrag}"></div>
		<br>
		
		<nav th:replace="~{includes/searchNav :: search}"></nav>

		<!--  2 simple buttons ----------------------------------------------------------- -->
		<div class="row">
			<div class="col-md-1 col-md-offset-1">
				<p>
					<a href="list">
						<button type="button" class="btn btn-m btn-success">
							<span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
							Back (All Recipes)
						</button>
					</a>
				</p>
			</div>
		</div>

		<div class="row">
			<div class="col-md-10 col-md-offset-1">
				<table data-toggle="table" class="table table-striped">
					<thead>
						<tr>
							<th data-sortable="true">ID</th>
							<th data-sortable="true">Name</th>
							<th data-sortable="true">Description</th>
							<th data-sortable="true">Preparation</th>
							<th data-sortable="true">User Name</th>
							<th>Action</th>
						</tr>
					</thead>
					<tbody>
						<!--  list all items ----------------------------------------------------------- -->
						<tr th:each="recipe : ${#request.getAttribute('recipes')}">
							<td th:text="${recipe.idRecipe}"></td>
							<td th:text="${recipe.name}"></td>
							<td th:text="${recipe.description}"></td>
							<td th:text="${recipe.preparation}"></td>
							<td th:text="${recipe.userModel.username}"></td>
							<td>
								<div
									th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}">
									<a th:href="@{/deleteRecipe(id=${recipe.idRecipe})}">
										<button type="button" class="btn btn-xs btn-danger">
											<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
											Delete
										</button>
									</a> <a th:href="@{/editRecipe(id=${recipe.idRecipe})}">
										<button type="button" class="btn btn-xs btn-success">
											<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
											Edit
										</button>
									</a> <a th:href="@{/showRecipe(id=${recipe.idRecipe})}">
										<button type="button" class="btn btn-xs btn-success">
											<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
											Show Recipe
										</button>
									</a>
								</div>
							</td>
						</tr>
						<!--  list all items ----------------------------------------------------------- -->
					</tbody>
				</table>

			</div>
		</div>



		<div th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}">
			This will only be displayed if authenticated user has role
			ROLE_ADMIN.</div>

		<div class="row">
			<div class="col-md-1 col-md-offset-1">
				<p>
					<a href="list">
						<button type="button" class="btn btn-xs btn-success">
							<span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
							Back (All Recipes)
						</button>
					</a>
				</p>
			</div>
		</div>
		<form th:action="@{/logout}" method="post">
			<input type="hidden" th:name="${_csrf.parameterName}"
				th:value="${_csrf.token}" />
			<!-- <a th:href="@{/logout}" class="btn btn-danger">Sign Out<a /> -->
			<input class="btn btn-xs btn-danger" type="submit" value="Logout" />
		</form>
	</div>
	<!--  End of container -->
	<div th:replace="~{includes/bootstrapJS :: bootstrapJS}" />


</body>
</html>
