<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:security="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<div th:replace="~{includes/bootstrapMeta :: bootstrapMeta}" />
<title>RezeptBox</title>
<div th:replace="~{includes/bootstrapCSS :: bootstrapCSS}" />
</head>
<body>



	<div class="container" role="main">
		<div th:replace="~{includes/header :: headerFrag}"></div>

		<div class="row">
			<div class="col-md-1 col-md-offset-1">
				<p>
					<a href="list">
						<button type="button" class="btn btn-m btn-success">
							<span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
							Back (All Recipes)
						</button>
					</a>
				</p>
			</div>
		</div>

		<div class="row">
			<div class="col-md-10 col-md-offset-1">
				<table
					th:each="recipeModel : ${#request.getAttribute('recipeModels')}">
					<tr>


						<p th:text="${recipeModel.recipeCategoryModel.name}" style="font-size: 20px; font-style: italic"></p>
						<p th:text="${recipeModel.nameRecipe}" style="font-size: 30px; font-weight: bold"></p>
						<p th:text="${recipeModel.description}" style="font-size: 16px; font-weight: bold"></p>
						<br>
						<p style="font-weight: bold">Author</p>
						<p th:text="${recipeModel.userModel.username}"></p>
						<br>
						<p style="font-size: 20px; font-weight: bold">Ingredients:</p>

						<!-- <table data-toggle="table" class="table table-striped">
							<thead>
								<tr>
									<th data-sortable="true">Name</th>
	
									<th>Action</th>
								</tr>
							</thead>
							<tbody>

								<tr th:each="ingredients1 : ${ingredients}">
									<td th:text="${ingredients1.name}"></td>

								</tr>

							</tbody>
						</table> -->

						<table data-toggle="table" class="table table-striped">
							<thead>
								<tr>
									<th data-sortable="true">ID</th>

									<th data-sortable="true">Menge</th>
									<th data-sortable="true">Einheit</th>
									<th data-sortable="true">Zutat</th>

									<th th:if="${#authorization.expression('hasAnyRole(''ROLE_ADMIN'')')}">Action</th>
								</tr>
							</thead>
							<tbody>
								<!--  list all items ----------------------------------------------------------- -->
								<tr th:each="ingredientModel : ${recipeModel.ingredientModels}">
									<td th:text="${ingredientModel.idIngredient}"></td>

									<td th:text="${ingredientModel.amount}"></td>
									<td th:text="${ingredientModel.unitDataModel.name}"></td>
									<td th:text="${ingredientModel.ingredientDataModel.name}"></td>
									<td>
										<!--	<div
									th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}"></div>-->
										<a
										th:if="${#authorization.expression('hasAnyRole(''ROLE_ADMIN'')'}"
										th:href="@{/deleteIngredient(id=${ingredientModel.idIngredient})}">
											<button type="button" class="btn btn-xs btn-danger">
												<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
												Delete
											</button>
									</a>

									</td>

								</tr>
								<!--  list all items ----------------------------------------------------------- -->
							</tbody>
						</table>

						<br>
						<p style="font-size: 20px; font-weight: bold">Preparation:</p>
						<p th:text="${recipeModel.preparation}"></p>
						<br>


					</tr>

					<tr>
						<td>
							<div
								th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}">
								<a th:href="@{/deleteRecipe(id=${recipeModel.idRecipe})}">
									<button type="button" class="btn btn-xs btn-danger">
										<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
										Delete
									</button>
								</a> <a th:href="@{/editRecipe(id=${recipeModel.idRecipe})}">
									<button type="button" class="btn btn-xs btn-success">
										<span class="glyphicon pencil" aria-hidden="true"></span> Edit
									</button>
								</a> <a th:href="@{/showRecipe(id=${recipeModel.idRecipe})}">
									<button type="button" class="btn btn-xs btn-success">
										<span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
										Show Recipe
									</button>
								</a>
							</div>
						</td>
					</tr>
				</table>
			</div>
		</div>



		<div th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}">
			This will only be displayed if authenticated user has role
			ROLE_ADMIN.</div>

		<div class="row">
			<div class="col-md-1 col-md-offset-1">
				<p>
					<a href="list">
						<button type="button" class="btn btn-xs btn-success">
							<span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
							Back (All Recipes)
						</button>
					</a>
				</p>
			</div>
		</div>
	</div>
	<!--  End of container -->
	<div th:replace="~{includes/bootstrapJS :: bootstrapJS}" />


</body>
</html>
